@keyframes showToast {
  from {
    opacity: 0;
    transform: translateY(200%) scale(0.7);
  }
}

@-webkit-keyframes showToast {
  from {
    opacity: 0;
    transform: translateY(200%) scale(0.7);
  }
}

.toast {
  animation: showToast 0.3s ease-in-out;
}

@keyframes hideToast {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
    transform: translateY(200%) scale(0.7);
  }
}

@-webkit-keyframes hideToast {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
    transform: translateY(200%) scale(0.7);
  }
}

.hideToast {
  animation: hideToast 0.3s ease-in-out forwards;
}
