name: Deploy to prod
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: deploy
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 52
          script: |
            cd apps/gift-list \
            && docker stop gift-list || true \
            && docker rm gift-list || true \
            && docker rmi gift-list || true \
            && git fetch && git reset origin/master --hard \
            && docker build . -t gift-list \
            && docker run -d -p 3000:3000 \
              -e DATABASE_URL=postgresql://gift-list:gift-list@192.168.1.111:5432/gift-list?schema=public \
              -e APP_HOST=https://gl.super-shy.ru \
              -e PATH_TO_FILES="/images" \
              -e NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=${{ secrets.NEXT_SERVER_ACTIONS_ENCRYPTION_KEY }} \
              -v /root/apps/gift-list-imgs:/images \
              --restart always \
              --name gift-list gift-list
